/* You can add global styles to this file, and also import other style files */

/* Importing a Google Font */
@import url("https://fonts.googleapis.com/css2?family=Emblema+One&display=swap");

.emblema-one-regular {
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}

